* {
	font-family:Arial;
	margin:0;
	padding:0px;
}

iframe {
	float:right;
	display:inline;
	padding-right:50px;
	padding-top:45px;
	padding-left:50px;
	padding-bottom:10px;
}
body {
	color:#CD5334;
	background-color:#0D3B66;
}

/* the navbar */
nav {
	position:relative;
	width:100%;
	height:60px;
	background:#98D2EB;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
	list-style: none;
	position:relative;
}
nav ul li:hover {
	background-color:#f49e4c;
}
nav ul li a {
	display:block;
	font-family:arial;
	color:#cd5334;
	font-size:14px;
	padding:22px 14px;
	text-decoration:none;
}
nav ul li ul {
	display:none;
	position:absolute;
	background-color:#cd5334;
	padding:1px;
	border-radius:0px 0px 4px 4px;
}
nav ul li:hover ul {
	display:block;
	background-color:#e1f2fe
	
}
nav ul li ul li {
	width:180px;
	border-radius:4px;
}
nav ul li ul li a {
	padding:12px 16px;
}
nav ul li ul li a:hover {
	background-color:#98d2eb;
}
/* the navbar END */

/* headings */
h1, h3, h4 { 
	text-align:center; 
	color:white; 
	background:#0D3B66;
}

/*  */
div {
	color:white;
}
.white {
	color:white;
}
/* */



/* */

/* following code taken from here - https://codepen.io/ceg9498/post/creating-lined-paper */
.card{
	font-family:Courier, monospace;
	background-color:white;
	background:repeating-linear-gradient(#faf0ca, #faf0ca 25px, #9198e5 26px, #9198e5 27px);
	background-position-y:34px;
	width:800px;
	height:900px;
	padding:0;
	margin-top:27px;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:27px;
}
.card-title {
	position:relative;
	left:30px;
	top:7px;
	font-size:30px;
	font-weight:bold;
	color:#f5853f;
}
.card-text {
	position:relative;
	top:30px;
	font-size:18px;
	margin:0px 50px;
	line-height:27px;
	color:#d5472b;
}
.card header {
	height:36px;
	background:linear-gradient(#faf0ca, #faf0ca 33px,pink 35px, pink 36px);
}
